# 6.Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.

In [8]:
import pandas as pd

exam_data  = {'Name': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J'],
        'Score': [12, 9, 16.5, 10, 9, 20, 14.5,10, 8, 19],
        'Qualify': ['yes', 'no', 'yes', 'yes', 'no', 'yes', 'yes', 'yes', 'no', 'yes']}
labels = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']
df = pd.DataFrame(exam_data , index=labels)
print(df)

   Name  Score Qualify
1     A   12.0     yes
2     B    9.0      no
3     C   16.5     yes
4     D   10.0     yes
5     E    9.0      no
6     F   20.0     yes
7     G   14.5     yes
8     H   10.0     yes
9     I    8.0      no
10    J   19.0     yes

# 7.Write a Pandas program to select the 'name' and 'score' columns from the following DataFrame.

In [9]:
df = pd.DataFrame(exam_data , index=labels)
print("Select specific columns:")
print(df[['Name', 'Score']])

Select specific columns:
   Name  Score
1     A   12.0
2     B    9.0
3     C   16.5
4     D   10.0
5     E    9.0
6     F   20.0
7     G   14.5
8     H   10.0
9     I    8.0
10    J   19.0

# 8.Write a Pandas program to join the two given dataframes along rows and assign all data.

In [10]:
import pandas as pd
student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['A', 'B', 'C', 'D', 'E'], 
        'marks': [10, 20, 30, 40, 50]})

student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['F', 'G', 'H', 'I', 'J'], 
        'marks': [60, 70, 80, 90, 100]})

print("Original DataFrames:")
print(student_data1)
print("-------------------------------------")
print(student_data2)
print("\nJoin the two dataframes along rows:")
result_data = pd.concat([student_data1, student_data2])
print(result_data)

Original DataFrames:
  student_id name  marks
0         S1    A     10
1         S2    B     20
2         S3    C     30
3         S4    D     40
4         S5    E     50
-------------------------------------
  student_id name  marks
0         S4    F     60
1         S5    G     70
2         S6    H     80
3         S7    I     90
4         S8    J    100

Join the two dataframes along rows:
  student_id name  marks
0         S1    A     10
1         S2    B     20
2         S3    C     30
3         S4    D     40
4         S5    E     50
0         S4    F     60
1         S5    G     70
2         S6    H     80
3         S7    I     90
4         S8    J    100

# 9.Write a Pandas program to detect missing values of a given DataFrame. Display True or False.

In [11]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', None)
df = pd.DataFrame({
'ord_no':[1,np.nan,3,4,np.nan,6,np.nan,8,45,52,np.nan,86],
'purch_amt':[150.5,270.65,65.26,110.5,948.5,2400.6,5760,1983.43,2480.4,250.45, 75.29,3045.6],
'customer_id':[3002,3001,3001,3003,3002,3001,3001,3004,3003,3002,3001,3001]})
print("Original Orders DataFrame:")
print(df)
print("\nMissing values of the said dataframe:")
print(df.isna())

Original Orders DataFrame:
    ord_no  purch_amt  customer_id
0      1.0     150.50         3002
1      NaN     270.65         3001
2      3.0      65.26         3001
3      4.0     110.50         3003
4      NaN     948.50         3002
5      6.0    2400.60         3001
6      NaN    5760.00         3001
7      8.0    1983.43         3004
8     45.0    2480.40         3003
9     52.0     250.45         3002
10     NaN      75.29         3001
11    86.0    3045.60         3001

Missing values of the said dataframe:
    ord_no  purch_amt  customer_id
0    False      False        False
1     True      False        False
2    False      False        False
3    False      False        False
4     True      False        False
5    False      False        False
6     True      False        False
7    False      False        False
8    False      False        False
9    False      False        False
10    True      False        False
11   False      False        False

# 10.Write a Pandas program to create and display a one-dimensional array-like object containing an array of data.

In [12]:
import pandas as pd
ds = pd.Series([2, 3, 5, 7, 11, 13, 17, 19])
print("Prime numbers:")
print(ds)

Prime numbers:
0     2
1     3
2     5
3     7
4    11
5    13
6    17
7    19
dtype: int64